<!DOCTYPE html>
<html>
<head>
    <title>URLCompress - Error</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
</head>
<body>
    <h1><%= message %><small><%= errorMsg%></small></h1>
    <div>
        <a href="/" class="btn btn-link">Navigate to our homepage.</a>
    </div>
</body>
</head>
</html>
