<section data-ng-controller="UrlsController">
    <h3>Create New Url</h3>
    <form data-ng-submit="create()" novalidate>
        <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit">Shorten Your URL!</button>
              </span>
              <input type="text" class="form-control" data-ng-model="url" id="url" placeholder="Paste or Type URL" required>
        </div>
        <div>
            <input type="text" class="form-control" data-ng-model="shortUrl" id="shortUrl" placeholder="Create Custom Short URL">
        </div>
        <div data-ng-show="shortUrl">
            <div>Shortened URL: localhost:8000/@<strong data-ng-bind="shortUrl"></strong></div>
        </div>
        <div data-ng-show="error">
            <strong data-ng-bind="error"></strong>
        </div>
    </form>
</section>